<%= form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.label :store_name, "店名" %>
    <%= f.text_field :store_name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :tel, "電話番号"%>
    <%= f.text_field :tel, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :address, "住所"%>
    <%= f.text_field :store_name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :website, "ホームページ"%>
    <%= f.text_field :website, class: "form-control"%>
  </div>
  <%= f.submit %>
<% end %>
