<div class="row">
  <div class="col-lg-12">
    <h1><%= @restaurant.store_name %></h1>
    <h2><%= @restaurant.tel%></h2>
    <div class="table">
      <tr>
        <th>店名</th>
        <th><%= @restaurant.store_name %></th>
      </tr>
      <tr>
        <th>TEL・予約</th>
        <th><%= @restaurant.tel %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= @restaurant.address %></th>
      </tr>
      <tr>
        <th>ホームページ</th>
        <th><%= @restaurant.website %></th>
      </tr>
    </div>
    <%= link_to "新しくお店を登録", new_restaurant_path%>
  </div>
</div>
