<div class="row">
  <div class="col-lg-12">
    <h1>お店の評価</h1>
    <ul>
      <li>店名：<%= @restaurant.store_name %></li>
      <li>電話番号：<%= @restaurant.tel %></li>
      <li>アドレス：<%= @restaurant.address %></li>
      <li>ウェブサイト：<%= @restaurant.website %></li>
    </ul>

    <hr>
  <%= form_for([@restaurant, @review]) do |f| %>
    <div class="form-group">
      <%= f.label :score, '星(5段階評価)' %><br>
      <%= f.number_field :score, class:"form-control" %>
      <%= f.label :body, 'レビュー' %><br>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
</div>

<script>
$('#star').raty({
  size     : 36,
  starOff: '/assets/star-off.png',
  starOn : '/assets/star-on.png',
  scoreName: 'review[point]'
});
</script>
